# Server
PORT=5001
FRONTEND_URL=http://localhost:3000
NODE_ENV=development

# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Email
RESEND_API_KEY=
RESEND_FROM=AwardX <no-reply@awardx.one>

# Redis cache
REDIS_ENABLED=false
REDIS_URL=
REDIS_TOKEN=
REDIS_USERNAME=default
REDIS_NAMESPACE=awardx
